<form method="post">
    {% if violations.authentication is defined %}
        <div class="alert alert-danger">
        {% for violation in violations.authentication %}
            {{ violation }}<br>
        {% endfor %}
        </div>
    {% endif %}
    <div class="mb-3">
        <label for="inputUsername" class="form-label">Username</label>
        <input type="text" id="inputUsername" name="username" placeholder="Sample : username" required class="form-control {{ violations.name is not defined ? '' : 'is-invalid' }}" value="{{ user.username }}">
        {% for violation in violations.username %}
            <div class="invalid-feedback">{{ violation }}</div>
        {% endfor %}
    </div>
    <div class="mb-3">
        <label for="inputPassword" class="form-label">Mot de passe</label>
        <input type="text" id="inputPassword" name="password" placeholder="Sample : 12345678" required class="form-control {{ violations.firstname is not defined ? '' : 'is-invalid' }}" value="{{ user.password }}">
        {% for violation in violations.password %}
            <div class="invalid-feedback">{{ violation }}</div>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">Connexion</button>
</form>