{% extends 'base.html.twig' %}

{% block title %}Recherche de Tournois{% endblock %}

{% block body_class %}search-page{% endblock %}

{% block body %}
    <section class="search-container">
        <header class="search-header">
            <h1>Recherche de Tournois</h1>
            <p>Utilisez les filtres ci-dessous pour trouver le tournoi qui vous convient.</p>
        </header>
        {{ include('search/_form.html.twig') }}
        <div class="search-results">
            <h2>Résultats de la Recherche</h2>
            <ul>
                {% for tournament in tournaments %}
                    <li>
                        <h3><a href="/tournament/{{ tournament.id }}">{{ tournament.name }}</a></h3>
                        <p>Date: {{tournament.startDate|date('Y-m-d')}}</p>
                        <p>Lieu: {{ tournament.adress }}</p>
                        <!-- Ajoutez d'autres détails du tournoi si nécessaire -->
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}




