{% extends 'base.html.twig' %}

{% block title %}Page de Tournoi - {{ tournament.tournamentName }}{% endblock %}

{% block body %}
    <h1>Page de Tournoi - {{ tournament.name }}</h1>
    <section class="tournament-details">
        <header class="tournament-header">
            <h1>Nom du tournoi - {{ tournament.name }}</h1>
            <p>Date de début : <var>{{tournament.startDate|date('Y-m-d')}}</var></p>
            <p>Date de fin : <var>{{tournament.endDate|date('Y-m-d')}}</var></p>
            <p>Email de contact : <var>{{ tournament.mail}}</var></p>
            <p>Prix de l'inscription <var>{{ tournament.entryPrice }}</var></p> 
            <p>Lieu: {{ tournament.adress }}</p>
        </header>

        <div class="tournament-description">
                <h2>Description du Tournoi</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac urna eu justo gravida ullamcorper.</p>
        </div>

        <div class="tournament-rules">
            <h2>Règles du Tournoi</h2>
            <ul>
                <li>{{ tournament.rules }}</li>
                <li>Règle 2</li>
                <li>Règle 3</li>
                <!-- Ajoutez plus de règles si nécessaire -->
            </ul>
        </div>

        <div class="tournament-registration">
            <h2>Inscription</h2>
            <p>Les inscriptions sont ouvertes jusqu'au {{tournament.startDate|date('Y-m-d')}}. Inscrivez-vous dès maintenant!</p>
            <!-- Ajoutez un formulaire d'inscription si nécessaire -->
        </div>
    </section>
{% endblock %}