{% extends 'base.html.twig' %}

{% block title %}Index User{% endblock %}

{% block body %}
    <h1>Index User</h1>

    <h2>NB user - {{ users|length }}</h2>

    <a href="/user/new">New user</a>

    <div>
        {% for user in users %}
            {% if loop.first %}
                <ul>
            {% endif %}
            <li>
                <a href="/user/{{ user.id }}">{{ user.id }} - {{ user.name }}</a>
                <a href="/user/{{ user.id }}/edit">Edit</a>
                <a href="/user/{{ user.id }}/delete">Delete</a>
            </li>
            {% if loop.last %}
                </ul>
            {% endif %}
        {% else %}
            <b>There are no users</b>
        {% endfor %}
    </div>
{% endblock %}
